@import "tailwindcss";

@theme {
  --color-primary-brown: #3D2B1F;
  --color-secondary-pink: #FCE4EC;
  --color-bg-creme: #F9F6F3;

  --font-sans: "Plus Jakarta Sans", sans-serif;
  --font-logo: "Pacifico", cursive;

  --radius-gourmet: 2.5rem;
  --radius-pill: 50px;
}

@utility no-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Scrollbar estética global */
::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-track { background: var(--color-bg-creme); }
::-webkit-scrollbar-thumb { background: #dcd4cf; border-radius: 10px; }
